@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>WhatsApp: +996 559 559 900</p>
        <i class="fa-solid fa-address-book bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>Address: Verkh Zhal 29 House 3/3 (Tynaliyeva 3/1) Bishkek</p>
        <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>E-Mail: sagynbekovaperizat8@gmail.com</p>
    </div>
</div>